.css-o18uir.e16nr0p33 {
  margin-top: -125px;
}
.reportview-container .css-1lcbmhc .css-1outpf7 {{
    padding-top: -125px;
}}
.europe {
	font-family: Consolas, Arial;
    font-size: 20px;
}
.chinese {
	font-family: Microsoft Jhenghei;
    font-size: 20px;
}
